<html><head><style type="text/css">.gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div{font-weight:400}</style><link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"><style type="text/css">.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}</style><style type="text/css">@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}</style><style type="text/css">.gm-style{font-family:Roboto,Arial,sans-serif;font-size:11px;font-weight:400;text-decoration:none}</style>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>IEEE METU NCC SB EVENT APP</title>
	<meta name="description" content="IEEE METU NCC SB EVENT APP">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Tabbed stylesheet -->
	<link rel="stylesheet" type="text/css" href="css/tabbed.css" media="screen">
	<!-- Demo stylesheet (no need to include it within your document) -->
	<link rel="stylesheet" type="text/css" href="demo/demo.css" media="screen">
	<!-- Google maps scripts -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script><script src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/main.js"></script><script src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/main.js"></script><script src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/main.js"></script><script src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/main.js"></script>
	<script type="text/javascript" src="js/gmaps.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/common.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/map.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/util.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/marker.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/onion.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/stats.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/infowindow.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/controls.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/common.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/map.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/util.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/marker.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/infowindow.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/stats.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/common.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/map.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/util.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/marker.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/infowindow.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/stats.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/common.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/map.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/util.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/marker.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/infowindow.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/20/4/intl/tr_ALL/stats.js"></script></head>
<div style="
    background: url(&quot;http://i.ytimg.com/vi/jz7GBkgqEkI/maxresdefault.jpg&quot;);
    background-size: cover;
    -webkit-filter: blur(5px);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 0;
    overflow: auto;
"></div>
<body style="
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: absolute;
    overflow: auto;
    zindex: 1;
">
	<div id="demo">

		<!-- *************************** -->
		<!-- START COPYING FROM HERE     -->
		<!-- *************************** -->

		<section id="tabbed">
			<!-- First tab input and label -->
			<input id="t-1" name="tabbed-tabs" type="radio" checked="checked">
			<label for="t-1" class="tabs shadow entypo-menu">Organisation List</label>
			<!-- Second tab input and label -->
			<input id="t-2" name="tabbed-tabs" type="radio">
			<label for="t-2" class="tabs shadow entypo-menu">Member List</label>
			<!-- Thrid tab input and label -->
			<input id="t-3" name="tabbed-tabs" type="radio">
			<label for="t-3" class="tabs shadow entypo-paper-plane">Register New Organisation</label>
			<!-- 4th tab input and label -->
			<input id="t-5" name="tabbed-tabs" type="radio">
			
			<!-- Sixth tab input and label -->
			<input id="t-6" name="tabbed-tabs" type="radio">
			
			<!-- Tabs wrapper -->
			<div class="wrapper shadow">
			
			
				<!-- Tab 1 content -->
				<div class="tab-1">
					<div class="row">
						<div class="cell w-100">
							<div class="title large">Closest 10 Event of the IEEE</div>
						</div>
					</div>
					<div class="row">
						<div class="cell w-100">
							<p class="normal"><b>This is a sample table preview</b>. Ridiculus habitasse mus amet dignissim penatibus nec cursus massa turpis a dis hac sed, nec! Lectus eu. Platea aliquet lorem phasellus enim ut in lorem et? Penatibus facilisis, tristique elit.</p>
						</div>
					</div>
					<div class="row">
						<div class="cell w-100">
							<div class="title small icon entypo-chart-line"></div>
						</div>
					</div>
					<!-- Blue headline table -->
					<table class="row">
						<!-- Column 1 -->
						<div class="cell w-15 table first blue">
							<div class="cell w-100">
								<div class="title table headline">Title</div>
							</div>
							<%- title %>
						</div>
						<!-- Column 2 -->
						<div class="cell w-15">
							<div class="cell w-100">
								<div class="title table">Date</div>
							</div>
							<%- datee %>
						</div>
						<!-- Column 3 -->
						<div class="cell w-15">
							<div class="cell w-100">
								<div class="title table">Time</div>
							</div>
							<%- time %>
						</div>
						<!-- Column 4 -->
						<div class="cell w-15">
							<div class="cell w-100">
								<div class="title table">Location</div>
							</div>
							<%- location %>
						</div>
						<!-- Column 5 -->
						<div class="cell w-15">
							<div class="cell w-100 ">
								<div class="title table">Status</div>
							</div>
							<%- status %>
						</div>
						<!-- Column 6 -->
						<div class="cell w-15">
							<div class="cell w-100">
								<div class="title table">Sign-in</div>
							</div>
							<%- buttons %>
						</div>
					</table>
					<div class="clrfx mt-10"></div>
					
					<div class="row">
						<div class="cell w-100">
							<p class="small"><span class="icon entypo-clock"></span>Augue risus turpis a aliquam augue, nisi. Cum magna ultrices adipiscing platea sed vel porttitor in diam.</p>
						</div>
					</div>
				</div>
				<!-- / Tab 1 content -->
				<!-- Tab 2 content -->
				<div class="tab-2">
					<div class="row">
						<div class="cell w-100">
							<div class="title large">IEEE METU NCC SB - MEMBER LIST</div>
						</div>
					</div>
					<div class="row">
						<div class="cell w-100">
							<p class="normal"><b>This is a sample table preview</b>. Ridiculus habitasse mus amet dignissim penatibus nec cursus massa turpis a dis hac sed, nec! Lectus eu. Platea aliquet lorem phasellus enim ut in lorem et? Penatibus facilisis, tristique elit.</p>
						</div>
					</div>
					<div class="row">
						<div class="cell w-100">
							<div class="title small icon entypo-chart-line">Data preview</div>
						</div>
					</div>
					<div class="clrfx mt-10"></div>
					<!-- Black headline table -->
					<div class="row">
						<!-- Column 1 -->
						<div class="cell w-15 table first black" style="margin-left: 30px;">
							<div class="cell w-100">
								<div class="title table headline">NAME</div>
							</div>
							<%- name %>
						</div>
						<!-- Column 2 -->
						<div class="cell w-15 table exposed">
							<div class="cell w-100">
								<div class="title table">EMAIL</div>
							</div>
							<%- email %>
						</div>
						<!-- Column 3 -->
						<div class="cell w-15 table exposed" style="margin-left: 30px;">
							<div class="cell w-100">
								<div class="title table">PHONE</div>
							</div>
							<%- phone %>
						</div>
						<!-- Column 4 -->
						<div class="cell w-15 ">
							<div class="cell w-100">
								<div class="title table">STUDENT NO</div>
							</div>
							<%- studentno %>
						</div>
						<!-- Column 5 -->
						<div class="cell w-15">
							<div class="cell w-100">
								<div class="title table">DEPARTMENT</div>
							</div>
							<%- department %>
						</div>
					</div>
					<div class="row">
						<div class="cell w-100">
							<p class="small"><span class="icon entypo-clock"></span>Augue risus turpis a aliquam augue, nisi. Cum magna ultrices adipiscing platea sed vel porttitor in diam.</p>
						</div>
					</div>
				</div>
				<!-- / Tab 2 content -->
				<!-- Tab 3 content -->
				<div class="tab-3">
					<div class="row">
						<div class="cell w-100">
							<div class="title large">Forms</div>
						</div>
					</div>
					<div class="row">
						<div class="cell w-100">
							<p class="normal"><span class="icon entypo-paper-plane"></span>Responsive form is ideal for any kind of opportunity. Create simple forms within tabs for you visitors.</p>
						</div>
					</div>
					<div class="row">
						<!-- Form -->
						<div class="cell w-49">
							<form id="tab-form" name="tab-form" action="evCrt">
								<!-- Title input -->
								<div class="cell w-100">
									<input name="title" placeholder="Title of the organisation" type="text" id="title" required="">
								</div>
								<div class="clrfx mt-10"></div>
								<!-- Date input -->
								<div class="cell w-100">
									<input name="date" placeholder="Date of the organisation" type="date" id="date" required="">
								</div>
								<div class="clrfx mt-10"></div>
								<!-- Time input -->
								<div class="cell w-100">
									<input name="time" placeholder="Time of the organisation (12:12:PM)" type="time" id="time" required="">
								</div>
								<div class="clrfx mt-10"></div>
								<!-- Location input -->
								<div class="cell w-100">
									<input name="location" placeholder="Location of the organisation" type="text" id="title" required="">
								</div>
								<div class="clrfx mt-10"></div>
								<!-- Send button -->
								<div class="cell w-32">
									<input type="submit" value="Submit" class="button black" form="tab-form" id="submit">
								</div>
								<!-- Reset button -->
								<div class="cell w-66">
									<div class="clrfx mt-20"></div>
									<input type="reset" id="reset-form" class="reset" value="• Reset form">
								</div>
								<input name="k" type="hidden" value=<%= id %> >
							</form>
							<script>
							$( "#tab-form" ).submit(function( event ) {
							  // Stop form from submitting normally
							  event.preventDefault();
							 
							  // Get some values from elements on the page:
							  var $form = $( this ),
								term = $form.find( "input[name='title']" ).val(),
								term1 = $form.find( "input[name='date']" ).val(),
								term2 = $form.find( "input[name='time']" ).val(),
								term3 = $form.find( "input[name='location']" ).val(),
								term4 = $form.find( "input[name='k']" ).val(),
								url = $form.attr( "action" );
							 
							  // Send the data using post
							  var posting = $.post( url, { title: term , date: term1, time: term2, location: term3, k: term4} );
							 
							  // Put the results in a div
							  posting.done(function( data ) {
								alert($( "#result" ).empty().toString());
							  });
							});
							</script>
						</div>
					</div>
				</div>
				<!-- / Tab 3 content -->

				

			</div>
			<!-- / Tabs wrapper -->
		</section>

		<!-- *************************** -->
		<!-- END COPYING HERE            -->
		<!-- *************************** -->

	</div>

</body></html>